<div class="page-header">
  <%= link_to 'root', class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1>Editing Post</h1>
</div>

<%= render 'form' %>