<div class="page-header">
  <%= link_to posts_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    <i class="fa fa-arrow-left"></i> Back
  <% end %>
  <h1>New Post</h1>
</div>

<%= render 'form' %>
